body {
    background-color: #eee;
    font:16px/1.6 Microsoft YaHei,"微软雅黑",Lucida,Verdana,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,Droid Sans Fallback,SimSun,sans-serif;
}
a {
    color: #f90;
    text-decoration: none;
}
a:hover {
    color: #666;
    border-bottom: 3px solid #ddd;
    text-decoration: none;
    cursor: pointer;
}
blockquote {
    color: #818181;
    border-left: 2px solid #e4e9ec;
    margin: 0;
    padding-left: 16px;
}
blockquote ol,
blockquote ul {
    padding: 0 0 0 16px;
    margin: 0;
}
#header {
    background: #333333;
    color: #fff;
}
.site-name, .tabs {
    margin: 0 auto;
    max-width: 860px;
    padding: 20px 20px;
}
.site-name a {
    color: #fff;
}
.site-name > .description {
    color: #fefefe;
}
.tabs {
    max-width: 858px;
    background-color: #494949;
    border: 1px solid #2c2c2c;
    padding-top: 0;
    padding-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.tabs > #nav-menu > a {
    display: inline-block;
    color: #fff;
    padding: 15px 10px;
    transition: background .2s linear;
}
.tabs > #nav-menu > a:hover {
    background: rgba(255, 255, 255, .3);
    border: 0;
}
.main {
    margin: 0 auto;
    max-width: 838px;
    background: #fff;
    border: 1px solid #ddd;
    border-width: 0 1px 1px 1px;
    padding: 20px 30px 40px 30px;
}
.post time {
    font-size: 12px;
    color: #818181;
}
.post-title {
    margin-top: 0.63em;
}
.post-content {
    font-size: 0.96em;
    line-height: 1.8em;
}
.post-content strong {
    color: #c7254e;
}
.post-content ul,
.post-content ol {
    padding: 0 0 0 20px;
}
.post-content img {
    width: 100%;
    overflow: hidden;
}
.post-content pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.post-content code {
    font-family: "Operator Mono","Fira Code",Consolas,Monaco,"Andale Mono",monospace;
    border-radius: 2px;
    padding: 0.6em 0.8em;
    line-height: 1.4em;
}
.post-meta {
    font-size: 12px;
    color: #818181;
}
ul.post-meta {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -0.2em;
}
ul.post-meta > li {
    display: inline-block;
}
ul.post-meta > li:not(:last-child):after {
    content: ' • ';
}
.page-navigator {
    list-style: none;
    padding: 0;
    margin: 30px 0 0;
    text-align: center;
}
.page-navigator > li {
    display: inline-block;
    padding: 0 8px;
}
.page-navigator > li.current > a {
    color: #666;
}
.page-navigator > li > span {
    color: #818181;
}
.post-near {
    margin-top: 50px;
}
.footer {    
    text-align: center;
    padding: 50px 20px 10px;
    font-size: 0.86em;
    color: #999;
}